/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 Aug 2024, 7:07:15 pm
    Author     : ashle
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.product-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-item p {
    font-size: 16px;
    color: #555;
}
